.container1 {
    background-color: rgb(224, 216, 216);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 350px;
    height: 300px;
    background-color: #fff;
    border: 1px rgb(212, 203, 203) solid;
    margin: 20px;
    border-radius: 4px;
  }
  
  .card-img {
    width: 100%;
    height: 250px;
  }
  
  .card-text {
    text-align: center;
  }
  